.task {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding: 1em;
}

.details {
    text-align: left;
    margin-bottom: 1em;

}

.action {
    font-size: 1.2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.action i {
    margin-bottom: .5em;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #282c34;
    color: #fff;
    padding: .4em;
    transition: .5em;
}

.action i:hover {
    color: #61dafb;
}